*lib*
*.swp
*Makefile
*Makefile.in
*.o
*/.deps
test/term_test
test/data_access_test
*dSYM

AUTHORS
COPYING
ChangeLog
INSTALL
NEWS
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
